* {
    font-family: 'Times New Roman', serif;
    text-align: center;
    text-transform: uppercase;
  }
  
  html {
    display: block;
  }
  body {
      background-color: black
  }
  
  main {
    color: white;
  }
  
  
  ul li {
      list-style: none;
      display: inline;
  }
  
  a {
      color: white;
      letter-spacing: 5px;
      text-decoration: none;
      display: inline;
  }
  
  h1 {
    text-decoration: 10px double white;
  }
  
  h2 {
  
    font-size: 25px;
    margin-top: 100px;
  }
  
  img {
    width: 300px;
    text-align: center;
    padding: 30px;
  }
  
  h3 {
    margin-top: 45px;
    font-weight: 100;
    color: white;
    margin-bottom: 45px;
    margin-top: 60px;
    letter-spacing: 5px;
    font-size: 10px;
  
  }
  
  p {
    line-height: 1.5;
    font-variant: small-caps;
    margin-top: 45px;
    margin-right: 200px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    letter-spacing: 2px;
  }
  
  .nav-links:hover {
    background-image: linear-gradient(
          -225deg,
          #6044c5 0%,
          #b581ee 29%,
          #ff1361 67%,
          #4bb0eb 100%
        );
  }
  
  .section-titles {
    flex: 1;
    color: white;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin:15px;
    margin-top: 100px;
    letter-spacing: 10px;
  }
  
  
  .header {
      padding: 20px;
      font-family: 'Times New Roman', serif;
      font-weight: 100;
    
  }
  
  .header h1 {
      letter-spacing: 30px;
        background-image: linear-gradient(
          -225deg,
          #6044c5 0%,
          #b581ee 29%,
          #ff1361 67%,
          #4bb0eb 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
            font-size: 30px;
          text-decoration: double white;
            
            
      }
      
      @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }
  .header nav ul li {
      display: inline-block;
      margin: 50px;
  }
  
  .project-img {
    opacity: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  
  .project-img:hover {
    opacity: 100%;
    transition: opacity 1s;
    filter: none;
    -webkit-filter: grayscale(0);
  }

  .project-img:hover::after {
    opacity: 100%;
    transition: opacity ;
  }
  
  .contact-area {
    text-transform: uppercase;
  
  }
  
  .user-info {
    border: 1px solid white;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
    letter-spacing: 2px;
  }

  .contact-me {
    margin-bottom: 30px;
    letter-spacing: 7px;
  }

  .button {
    background-image: linear-gradient(
      -225deg,
      #6044c5 0%,
      #b581ee 29%,
      #ff1361 67%,
      #4bb0eb 100%
    );
  } 

  .profile-links {
    word-spacing: 100px;
    margin-top: 45px;
  }
  
  
   /*tablets*/
  @media screen and (max-width: 992px) {
    h2 {
  
      padding: 25px;
      margin-top: 100px;
    }
  
    p {
      margin-top: 45px;
      margin-left: 200px;
      margin-bottom: 100px;
      flex: 3;
    }
  
    ul li {
      display: inline;
    }
  
    .header h1 {
      margin-top: 100px;
      margin-left: 25px;
    } 
  
    .section-titles {
      font-size: 24px;
  
    }
  
  
    .user-info {
      border: 1px solid white;
      box-sizing: border-box;
      padding-bottom: 40px;
      padding-top: 35px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
    
      /*small smartphone*/
      @media screen and (max-width: 576px) {
    
        h1 {
          display: flex;
          font-size: 10px;
          text-align: center;
        }
        
        h2 {
          padding: 20px;
          margin-top: 45px;
          text-align: center;
          padding-left: 65px;
        }
  
        p {
          display: flex;
          margin-top: 45px;
          margin-left: 200px;
          margin-bottom: 100px;
          justify-content: center;
          padding-left: 25px;
        }

        .section-titles {
          text-align: center;
        }
    
      }