* {
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
    text-align: center;
  }
  
  html {
    display: block;
  }
  body {
      background-color: black
      
  }
  
  main {
    color: white;
  }
  
  
  ul li {
      list-style: none;
      display: inline;
  }
  
  a {
      color: white;
      letter-spacing: 5px;
      text-decoration: none;
      display: inline;
  }
  
  h1 {
    text-decoration: 10px double white;
  }
  
  h2 {
    letter-spacing: 10px;
    word-spacing: 5px;
    font-size: 25px;
    margin-top: 100px;
  }
  
  img {
   
   width: 400px;
   padding: 30px;
  }
  
  h3 {
    margin-top: 45px;
    font-weight: 100;
    color: white;
    margin-bottom: 45px;
    margin-top: 60px;
    letter-spacing: 5px;
    font-size: 10px;
  
  }
  
  p {
    line-height:1.6;
    font-variant: small-caps;
    margin-top: 45px;
    margin-right: 200px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    letter-spacing: 2px;
   
  }

  label {
    margin-bottom: 45px;
  }

  input {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 450px;
  }
  
  .nav-links:hover {
    background-image: linear-gradient(
          -225deg,
          #6044c5 0%,
          #b581ee 29%,
          #ff1361 67%,
          #4bb0eb 100%
        );
  }
  
  .header {
      padding: 20px;
      font-family: 'Times New Roman', serif;
      font-weight: 100;
    
  }
  
  .header h1 {
      letter-spacing: 30px;
        background-image: linear-gradient(
          -225deg,
          #6044c5 0%,
          #b581ee 29%,
          #ff1361 67%,
          #4bb0eb 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
            font-size: 30px;
          text-decoration: double white;
            
            
      }
      
      @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }
  .header nav ul li {
      display: inline-block;
      margin: 50px;
  }

  .flex-container {
    display: inline-flex;
  }


  .me {
margin-left: 300px;
height: 400px;
  }

  .project-titles {
    font-size: 20px;
    margin-top: 150px;
  }

  .paragraph {
    padding: 100px;
  }


  .project-1 {
    display: block;
    padding-left: 570px;
    height: auto;
    width: 700px;
  }

  .section-titles {
  
    color: white;
    word-spacing: 5px;
    margin:15px;
    margin-top: 100px;
    letter-spacing: 10px;
  }

  .project-img {
    opacity: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  
  .project-img:hover {
    opacity: 100%;
    transition: opacity 1s;
    filter: none;
    -webkit-filter: grayscale(0);
  }

  .project-img:hover::after {
    opacity: 100%;
    transition: opacity ;
  }
  
  .contact-area {
    text-transform: uppercase;
  
  }
  
  .user-info {
    border: 1px solid white;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 45px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 400px;
    margin-right: 400px;
    letter-spacing: 2px;
  }

  .contact-me {
    margin-bottom: 30px;
    letter-spacing: 7px;
  }

  .button {
    background-image: linear-gradient(
      -225deg,
      #6044c5 0%,
      #b581ee 29%,
      #ff1361 67%,
      #4bb0eb 100%
    );
    color: white;
    width: 200px;
  } 

  .profile-links {
    word-spacing: 100px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
  }

 
  
   /*tablets*/
  @media screen and (max-width: 992px) {
    * {
      text-align: center;
    }
    
    h2 {
      padding: 15px;
      margin-top: 100px;
    }
  
    p {
      display: contents;
      padding-top: 200px;
      margin-top: 200px;
    }
  
    nav ul li {
      display: inline;
    }

    img {
     width: 400px;
     padding: 30px;
    }

    input {
      margin-top: 15px;
      margin-bottom: 30px;
      width: 350px;
    }
  
    .header h1 {
      margin-top: 100px;
      margin-left: 25px;
    }
    
   .header nav ul li {
     display: flex;
     font-size: 15px;
     justify-content: center;
   }

    .section-titles {
      font-size: 24px;
    }

    .flex-container {
      display: block;
      flex-direction: column;
    }

    .me {
     margin: 200px;
     text-align: center;
     height: auto;
     width: 300px;
  }

  .project-1 {
    display: block;
    padding-left: 50px;
    height: auto;
    width: 700px;
  }

    .user-info {
      border: 1px solid white;
      box-sizing: border-box;
      padding-bottom: 40px;
      padding-top: 35px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
    
      /*small smartphone*/
      @media screen and (max-width: 576px) {
    
        h1 {
          display: flex;
          font-size: 10px;
          text-align: center;
        }
        
        h2 {
          padding: 20px;
          margin-top: 45px;
          text-align: center;
          padding-left: 65px;
        }

        p {
          font-size: 15px;
          display: contents;
          width: 3%;
          text-align: center;
          
        }

        img {
          width: 400px;
          padding: 30px;
         }

        input {
          margin-top: 15px;
          margin-bottom: 30px;
          width: 300px;
        }
    

        footer {
          margin-left: 45px;
        }

        .section-titles {
          display: flex;
          justify-content: center;
          text-align: center;
          margin-right: 45;
        }

        .project-1 {
          width: -webkit-fill-available;
          height: auto;
        }

        .me {
          margin: 15px;
          height: auto;
          width: 300px;
       }

  
        .contact-me {
          display: flex;
          justify-content: center;
        }

        .profile-links {
          display: flex;
         justify-content: space-evenly;
        }
    
      }